div.navigator_l{
    width: 100%;
    padding:10px;
    background-color:#c00a27;
    height:100px;
    position:fixed;
    z-index:2001 !important;
}
img.logo_l{
    height:75px;
    margin-left:10px;
    display: inline-block;
}
div.site-branding{
    width:100px !important;
    display: inline-block;
}
i.open_side_l{
    float:right;
    color:#ffffff;
    font-size:30px;
    margin:25px 40px;
    cursor:pointer;
    transition: 0.2s;
}
i.open_side_l:hover{
    font-size:37px;
    margin: 22px 37px;
}
div.primary-navigation{
    display: inline-block !important;
}
p.meniuri_l{
    text-align:center;
    margin-top:8px;
    font-size:20px;
    color:#ffffff;
    font-weight: 700;
}
div.acesta_este_sidebarul{
    width:300px;
    background-color:#c00a27;
    position:fixed;
    min-height:100%;
    right:-100%;
    margin-top:100px;
    z-index:2000;
    border-top:1px solid #fff;
    transition: 0.2s;
    overflow-y:scroll;
    text-align: center;
}
#close_sidebar_l{
    display: none;
}
#scrollbar_l::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}

#scrollbar_l::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#scrollbar_l::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent)
}
p.meniu_link_l{
    text-align:center;
    color:#ffffff !important;
    font-size:18px;
    transition:0.2s;
    cursor:pointer;
}
p.meniu_link_l:hover{
    letter-spacing: 1px;
}
i.iconita_sidebar_l{
    font-size:40px;
    display: inline-block;
    color:#ffffff;
    cursor:pointer;
    background-color:#f0002f;
    padding:10px;
    border-radius:2px;
    transition: 0.2s;
    width:100%;
    margin-bottom:5px;
}
i.iconita_sidebar_l:hover{
    background-color:#ffffff;
    color:#f0002f;
}
#telefon_l{
    display:none;
    background-color:#f0002f;
    padding:10px;
    transition: 0.2s;
    width:100%;
}
@media (max-width:1023px){
    div.primary-navigation{
        display: none !important;
    }
}